*{
	margin: 0;
	padding: 0;
	  box-sizing: border-box;
  }
  
  html,body{
	min-width: 100%;
	overflow-x: hidden;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
  }
  
  header .navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	min-height: 12vh;
	min-width: 100%;
	z-index: 10;
	background: white;
	border-bottom: 2px solid #e9380c;
  }
  
  header .navigation .logo{
	margin-left: 20px;
	
  }
  
  header .navigation .logo h1{
	color: #060606;
	font-size: 30px;
	line-height: 38px;
  }
  
   header .navigation .menu-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 38%;
	margin: auto 95px auto 0;
  }
  
  header .navigation .humbarger {
	margin-right: 20px;
	display: none;
   }
   
  header .navigation .humbarger .bar{
	width: 30px;
	height: 2px;
	margin: 7px;
	background: #b1d4e0;
   }
  
  header .navigation .menu-list li a {
	color: #040404;
	font-size: 1.25rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 1s ease, border 1s ease;
	text-decoration: none;
  }
  
  /* ====================
	Intro Section
  =======================*/
  .intro-section {
	height: 100vh;
	position: relative;
background-image: url("https://img.freepik.com/free-photo/modern-equipped-computer-lab_23-2149241213.jpg?w=996&t=st=1681976905~exp=1681977505~hmac=848f940b8e04709a8857b9b4f19620bb7fb4eb3c70d72c4a9825a9a43a32b089");
background-size: cover;
background-repeat: no-repeat;
}
  
  .intro-section .intro-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
  }
  
  .intro-section .intro-content h1 {
	color: #d8f904;
	font-size: 5rem;
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-top: 80px;
  }
  
  .intro-section .intro-content h6{
	margin-top: 5px;
	color: #f30c0c;
	font-size: 2.5rem;
	font-weight: 300;
  }
  
  .intro-section .intro-content p {
	margin-top: 40px;
	color: #dafa09;
  }
  
  .intro-content .tagline {
	margin-top:80px;
  }
  
  .intro-section .intro-content .tagline .change-container{
	  position: relative;
	display: inline-block;
	width: 560px;
	margin-bottom: 55px;
	  margin-top: 30px;
  }
  
  .intro-section .intro-content .changing {
	  position: absolute;
	  overflow: hidden;
	width: 100%;
	left:0;
	bottom:0;
	height:0;
	opacity:0;
	color: #10100f;
	text-transform: uppercase;
	word-spacing: 5px;
	  text-align: center;
	  font-size: 2.5rem;
  }
  
  .changing:nth-child(1) {
	animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 1.5s infinite;
  }
  
  .changing:nth-child(2) {
	animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 3s infinite;
  }
  
  .changing:nth-child(3) {
	animation: revealNextWord 6s cubic-bezier(0.57, 1.52, 0.9, 1.08) 4.5s infinite;
  }
  
  @keyframes revealNextWord {
	0% { 
	  opacity: 0.3; 
	  height: 0.0; 
	}
	10% { 
	  opacity: 1; 
	  height:1.2em; 
	}
	20% { 
	  opacity: 1; 
	  height:1.2em; 
	}
	28% { 
	  opacity: 0; 
	  height:2em; 
	}
	
  }
  
  .intro-section .intro-content .header-btn a{
	text-decoration: none;
	font-size: 1.5rem;
	color: #3498db;
	background-color: #0d0e0f;
	padding: 15px;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
  }
  
  .intro-section .intro-content .header-btn a:before{
	  position: absolute;
	content: ""; 
	top: 0px;
	height: 100%;
	left: -25%;
	width: 0%;
	background-color: #3498db;
	transform: skew(50deg);
	transition-duration: 1s;
	z-index: 1;
  }
  
  .intro-section .intro-content .header-btn a:hover{
	color: #040404;
  }
  
  .intro-section .intro-content .header-btn a:hover:before{
	width: 170%;
  
  }
  
  .intro-section .intro-content .header-btn a span{
	  position: relative;
	  z-index: 9;
  }
  
  /* ====================
	Responsive Section
  =======================*/

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
  }
  .timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
  }
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #f74012;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  .timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
  }
  .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
    text-transform: none;
  }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 170px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }
  
  .page-section {
    padding: 6rem 0;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
  }
  
  @media (min-width: 768px) {
    section {
      padding: 9rem 0;
    }
  }
  
  .text-center {
      text-align: center !important;
  }
  
  .page-section h2.section-heading, .page-section .section-heading.h2 {
      font-size: 2.5rem;
      margin-top: 0;
      margin-bottom: 1rem;
  }
  .text-uppercase {
      text-transform: uppercase !important;
  }
  
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
      font-size: 1rem;
      font-weight: 400;
      font-style: italic;
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      margin-bottom: 4rem;
  }
  
  .text-muted {
      --bs-text-opacity: 1;
      color: #6c757d !important;
  }
  
  p {
      line-height: 1.75;
  }
  @media (min-width: 1400px){
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
  }}
  @media (min-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;}
  }
  @media (min-width: 992px){
  .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
  }}
  @media (min-width: 768px){
  .container-md, .container-sm, .container {
      max-width: 720px;
  }}
  @media (min-width: 576px){
  .container-sm, .container {
      max-width: 540px;
  }}
  .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
      width: 100%;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
  }
  *, *::before, *::after {
      box-sizing: border-box;
  }
  user agent stylesheet
  div {
      display: block;
  }
  .bg-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #34495e, #2c3e50);
    opacity: 0.6;
    /* z-index: -1; */
    }